@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,300&display=swap");

* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(37, 34, 34);
  font-family: "Libre Franklin", sans-serif;
}
s .App {
  margin: 20px 50px;
}

.mainNav {
  font-size: 1.75em;
  border-bottom: 2px solid #fbb117;
  margin-bottom: 30px;
}

.mainNav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.mainNav li {
  align-items: stretch;
}

.mainNav a {
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.mainNav a:hover {
  color: red;
}

.mainNav .active-link {
  border-top: 2px solid #fbb117;
}
