@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,300&display=swap");

:root {
  --background: #252222;
  --light-background: #414141;
  --text: #ffffff;
  --orange: #ff791f;
}

* {
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Libre Franklin", sans-serif;
}
.App {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.mainNav {
  font-size: 1.75em;
  border-bottom: 2px solid var(--orange);
  margin-bottom: 30px;
}

.mainNav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.mainNav li {
  align-items: stretch;
}

.mainNav a {
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.mainNav a:hover {
  color: red;
}

.mainNav .active-link {
  border-top: 2px solid var(--orange);
}
