@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,300&display=swap");

* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(37, 34, 34);
  font-family: "Libre Franklin", sans-serif;
}

.navbar {
  background-color: rgb(65, 65, 65);
  height: 60px;
}

.mainNav {
  font-size: 30px;
  font-family: arial;
  margin-bottom: 40px;
  padding: 15px;
  background-color: rgb(65, 65, 65);
}

.mainNav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgb(65, 65, 65);
}

.mainNav li {
  align-items: stretch;
  background-color: rgb(65, 65, 65);
}

.mainNav a {
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  background-color: rgb(65, 65, 65);
}

.mainNav a:hover {
  color: red;
}

.mainNav .active-link {
  text-decoration: underline;
}

.listNav {
  background-color: rgb(65, 65, 65);
}
