* {
  background-color: #333;
  color: #fbb117;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 20px 50px;
}

.mainNav {
  font-size: 1.75em;
  border-bottom: 2px solid #fbb117;
  margin-bottom: 30px;
}

.mainNav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.mainNav li {
  align-items: stretch;
}

.mainNav a {
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.mainNav a:hover {
  color: red;
}

.mainNav .active-link {
  border-top: 2px solid #fbb117;
}
