.paragraph_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box,
.title,
.text,
.link {
  background-color: var(--light-background);
}

.box {
  margin-top: 25px;
  max-width: 700px;
  padding: 30px 10px;
  border-radius: 20px;
  box-shadow: rgb(255, 255, 255) 0px 2px 5px -1px,
    rgb(255, 255, 255) 0px 1px 3px -1px;
}

.title {
  margin-bottom: 20px;
}

.text {
  font-family: arial;
  font-size: 18px;
  margin-bottom: 20px;
}

.link {
  font-family: arial;
  font-size: 18px;
  text-decoration: none;
}
