.inventory-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 3rem;
  padding-top: 3rem;
  background-color: #232122;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../../public/img/inventory-img.jpg");
  background-repeat: no-repeat;
  background-position: center 35%;
}

.add-ing-component {
  position: relative;
  padding: 1rem 1.5rem;
  border: 2px solid #fad2a4;
  width: 80%;
  border-radius: 0.7rem;
  height: 100%;
  background: linear-gradient(rgba(121, 71, 14, 0.801), rgba(48, 28, 6, 0.788));
}

.ing-title {
  display: flex;
  justify-content: space-around;
  gap:10px
}

.add-ing-component img {
  height: 35px;
  width: 35px;
}

ul li {
  list-style-type: none;
  color: #fff;
  font-size: 0.9rem;
}
.ing-component-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.add-ing-form-container {
  display: flex;
  flex-direction: column;
  color: #fce8d2;
}

.add-ing-component h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.add-ing-component ul {
  max-height: 10rem;
  overflow-y: auto;
}

.add-ing-component ul::-webkit-scrollbar {
  width: 0.5rem;
}

.delete-btn {
  padding:0;
  margin-left: 8px;

}

.add-ing-component ul::-webkit-scrollbar-thumb {
  background-color: #fad2a4;
  border-radius: 0.5rem;
}

.add-ing-component ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.quantity-unit-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap:8px
}

.first-row {
  align-self: center;
}

/* MUI */

.textfield__label {
  color: #fff !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .inventory-container {
    padding: 1.5rem;
  }

  .add-ing-component {
    width: 100%;
  }

  .quantity-unit-line {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .inventory-container {
    padding: 1.5rem;
    grid-template-columns: 1fr;
  }

  .add-ing-component {
    width: 100%;
  }

  .quantity-unit-line {
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .inventory-container {
    padding: 1rem;
  }

  .add-ing-component {
    padding: 1rem;
    width: 100%;
  }

  .ing-title {
    flex-direction: column;
    gap: 5px;
  }

  .quantity-unit-line {
    flex-direction: column;
    gap: 5px;
  }

  .add-ing-component h2 {
    font-size: 1.2rem;
  }
}