.inventory {
  text-align: center;
  margin-bottom: 30px;
}

.inventory h2 {
  margin-bottom: 20px;
}

.inventory ul {
  list-style-type: none;
}

.inventory ul li {
  font-size: 20px;
}

.ingredient-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.ingredient {
  display: flex;
  justify-content: space-around;
  border: 2px solid #fbb117;
  padding: 20px 40px;
  border-radius: 10px;
}

.ingredient select,
.ingredient input {
  margin-bottom: 30px;
  font-size: 14px;
}

.ingredient button {
  padding: 4px 12px;
  background-color: #fb8b17;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.ingredient h3 {
  color: #fb8b17;
}

.fa-trash {
  height: 15px;
  width: 25px;
  margin-left: 20px;
}
