.inventory-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 3rem;
  padding-top: 3rem;
  height: 100vh;
  background-color: #232122;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../img/inventory-img.jpg");
  background-repeat: no-repeat;
  background-position: center 35%;
}

.add-ing-component {
  position: relative;
  padding: 2rem;
  padding-top: 1rem;
  border: 2px solid #fad2a4;
  width: 36rem;
  border-radius: 0.7rem;
  height: 18rem;
  background: linear-gradient(rgba(121, 71, 14, 0.801), rgba(48, 28, 6, 0.788));
}

.add-ing-component img {
  position: absolute;
  top: 2rem;
  right: 3rem;
}

ul li {
  list-style-type: none;
  color: #fff;
  font-size: 1.1rem;
}
.ing-component-container {
  display: flex;
  justify-content: space-between;
}
.add-ing-form-container {
  display: flex;
  flex-direction: column;
  color: #fce8d2;
}

.add-ing-component h2 {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.add-ing-component ul {
  max-height: 13rem;
  overflow-y: auto;
}

.add-ing-component ul::-webkit-scrollbar {
  width: 0.5rem;
}

.add-ing-component ul::-webkit-scrollbar-thumb {
  background-color: #fad2a4;
  border-radius: 0.5rem;
}

.add-ing-component ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.quantity-unit-line {
  display: flex;
  align-items: center;
}

.first-row {
  align-self: center;
}

/* MUI */

.textfield__label {
  color: #fff !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
}
