.container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 4rem;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/myRecipeImg.jpg");
}

.new-recipe-form {
  display: flex;
  gap: 4rem;
}

.my-recipes-form {
  border: 2px solid #fbb117;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  background: linear-gradient(rgba(121, 71, 14, 0.801), rgba(48, 28, 6, 0.788));
}

.my-recipes-form h2 {
  margin: 1rem 0;
}

.left-side-createRecipe .ing-row {
  margin-bottom: 2rem;
}

.left-side-createRecipe .textarea {
  margin-left: 2.5rem;
}

.right-side-createRecipe h3 {
  margin-bottom: 1rem;
}

.ing-row {
  display: flex;
  align-items: center;
}

.my-recipe-list {
  border: 2px solid #fbb117;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  overflow-y: auto;
  grid-row: 2/3;
  background: linear-gradient(rgba(121, 71, 14, 0.801), rgba(48, 28, 6, 0.788));
}
.my-recipe-details {
  border: 2px solid #fbb117;
  width: auto;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  grid-row: 1/3;
  height: 70%;
  background: linear-gradient(rgba(121, 71, 14, 0.801), rgba(48, 28, 6, 0.788));
}

.my-recipes-form h2 {
  text-align: center;
}
.create-recipe-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #fb8b17;
  color: white;
  border-radius: 0.75rem;
  margin: 1rem 0;
  width: 100%;
}

.ing-ul {
  list-style-type: none;
}

.your-list-li {
  list-style-type: none;
  font-size: 1.25rem;
  margin-top: 0.75rem;
  border-bottom: 1px solid white;
}
.your-list-li:hover {
  cursor: pointer;
}

.my-recipe-name {
  color: #fb8b17;
}
.my-recipe-style {
  font-style: oblique;
}

.my-recipe-details h1 {
  color: #fb8b17;
  font-style: oblique;
}
.my-recipe-details h2,
h3 {
  margin-top: 1rem;
  font-family: cursive;
}

.my-recipe-details li,
p {
  list-style-type: none;
  font-size: 1.3rem;
}
