.our-recipes {
  display: flex;
  justify-content: space-around;
}

.our-recipes h2 {
  margin-bottom: 15px;
}

.contaners {
  border: 2px solid #fbb117;
  width: 35%;
  border-radius: 18px;
  padding: 20px 40px;
}

.recipe-list ul {
  list-style-type: none;
}

.recipe-list ul li {
  margin-bottom: 10px;
}

.recipe-list ul li:hover,
.recipe-list ul li.active-recipe:hover {
  cursor: pointer;
}
.recipe-list ul li:hover h3 {
  color: red;
}

.recipe-list ul li.active-recipe {
  border-left: 2px solid #fbb117;
  padding-left: 20px;
  /* Add any other styles for the active recipe */
}

.recipe-instruction li {
  font-size: 20px;
}

.recipe-instruction h3 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 140%;
  color: #fb8b17;
}

.recipe-instruction h2 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 170%;
  color: #fb8b17;
}

/* MyRecipes.js Styles  */
.container {
  display: flex;
  justify-content: space-around;
}
.first-half {
  width: 45%;
  height: 100%;
}

.new-recipe-form {
  display: flex;
  gap: 50px;
}

.my-recipes-form {
  border: 2px solid #fbb117;
  padding: 10px 15px;
  height: 450px;
  margin-bottom: 40px;
  border-radius: 12px;
  position: relative;
}
.my-recipe-list {
  border: 2px solid #fbb117;
  height: 250px;
  padding: 10px 20px;
  border-radius: 12px;
}
.my-recipe-details {
  border: 2px solid #fbb117;
  width: 40%;
  padding: 10px 20px;
  border-radius: 12px;
}

.new-recipe-form textarea {
  width: 400px;
  height: 250px;
  font-size: 16px;
}

.my-recipes-form h2 {
  text-align: center;
}
.create-recipe-btn {
  position: absolute;
  padding: 10px 25px;
  font-size: 16px;
  background-color: #fb8b17;
  color: white;
  top: 75%;
  left: 65%;
  border-radius: 9px;
}

.my-recipes-form label {
  font-size: 20px;
}
.my-recipes-form input {
  margin-bottom: 10px;
  font-size: 16px;
}
.my-recipes-form h3 {
  margin-bottom: 30px;
  margin-top: 20px;
}
.my-recipes-form select {
  margin-bottom: 25px;
  margin-right: 10px;
}

.right-side input {
  width: 80px;
}
.ing-ul {
  list-style-type: none;
}
