.mainNav {
  font-size: 1.5rem;
  border-bottom: 2px solid #fbb117;
}

.mainNav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.mainNav li {
  align-items: stretch;
}

.mainNav a {
  cursor: pointer;
  text-decoration: none;
}

.mainNav a:hover {
  color: red;
}

.mainNav .activeLink {
  border-top: 2px solid #fbb117;
}


.hamburgerDiv {
  display: none;
}

@media (max-width: 550px) {

  .mainNav{ 
    border-bottom: none;
  }
  
  .mainNav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 40px;
    width: 40%;
    background-color: #111;
    padding: 1rem;
    z-index: 9999;
  }
  .mainNav ul li {
    margin-bottom: 1rem;
  }

  .hamburgerDiv {
    display: block;
    padding: 1rem;
  }

  .mainNav ul.open {
    display: flex;
  }
  .menuIcon {
    display: block;
    position:absolute;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}
