.header {
  display: none;
  background-color: rgb(65, 65, 65);
}

.call_to_action_row {
  display: flex;
  justify-content: space-between;
}

.call_to_action {
  height: 40px;
  width: 400px;
  background-color: crimson;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-bottom: 30px;
}

.call_to_action_text {
  text-decoration: none;
  background-color: crimson;
  font-size: 25px;
}

@media (max-width: 800px) {
  .mainNav {
    display: none;
  }

  .header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
  }
  
  .logo {
    text-decoration: none;
    font-family: arial;
    font-size: 25px;
    background-color: rgb(65, 65, 65);
  }
  
  .hamburger_menu {
    margin-top: 5px;
    cursor: pointer;
    background-color: rgb(65, 65, 65);
  }
  
  .bar {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
  }
  
  .dropdown_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  
  .dropdown_list {
    list-style-type: none;
    font-size: 40px;
    margin-top: 20px;
    font-family: arial;
  }
  
  .dropdown_list_item {
    text-decoration: none;
  }
}
